<IfModule mod_rewrite.c>
  RewriteEngine On

  # ===== BỎ QUA CKFinder =====
  RewriteCond %{REQUEST_URI} ^/ckfinder/
  RewriteRule ^ - [L]

  # ===== BỎ QUA API =====
  RewriteCond %{REQUEST_URI} ^/api/ [OR]
  RewriteCond %{REQUEST_URI} ^/admin/api/
  RewriteRule ^ - [L]

  # ===== ADMIN ROUTER =====
  RewriteCond %{REQUEST_URI} ^/admin
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ /admin/index.html [L]

  # ===== FRONTEND ROUTER =====
  RewriteCond %{REQUEST_URI} !^/admin
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ /index.html [L]
</IfModule>