div#root {
  width: 100%;
}
/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list style */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Remove link underline */
a {
  text-decoration: none;
  color: inherit;
}

/* Button reset */
button {
  border: none;
  background: none;
  cursor: pointer;
}

/* Input reset */
input,
textarea,
select {
  font: inherit;
}
body {
  font-size: 14px;
  font-family: "Noto Sans", sans-serif;
}
