@use "../../assets/scss/mixin" as *;
@use "../../assets/scss/variables" as *;



.cart-head {
    text-align: center;

    &-ttl {
        border-top: 1px solid #e5e7eb;
        border-bottom: 1px solid #e5e7eb;
        font-size: 1.5rem;
        font-weight: 600;
        padding: 1rem 0;

        @include mq('md', min) {
            font-size: 2rem;
            padding: 1.5rem 0;
        }

        &-inner {
            position: relative;

            .cart-prev {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }

    }

    .logo {
        padding: 1rem 0;
        display: block;

        img {
            height: 5rem;

            @include mq('md', min) {
                height: 8rem;
            }
        }
    }
}

.c-input-check {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 500;
    user-select: none;
    cursor: pointer;
    position: relative;

    @include mq('md', min) {
        gap: 2rem;
        margin-bottom: 2rem;
        font-size: 1.7rem;
    }

    &.--radio {
        gap: 1rem;
    }

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked~.checkmark {
            background-color: #007bff;
            border-color: #007bff;

            &:after {
                display: block;
            }
        }
    }

    .checkmark {
        position: relative;
        width: 1.4rem;
        height: 1.4rem;
        background-color: #fff;
        border: 0.2rem solid #ccc;
        border-radius: 0.4rem;
        transition: all 0.3s ease;

        @include mq('md', min) {
            width: 1.7rem;
            height: 1.7rem;
        }

        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 0.3rem;
            top: 0.1rem;
            width: 0.3rem;
            height: 0.5rem;
            border: solid #fff;
            border-width: 0 0.2rem 0.2rem 0;
            transform: rotate(45deg);

            @include mq('md', min) {
                left: 0.4rem;
                height: 0.8rem;
            }
        }
    }

    &:hover .checkmark {
        border-color: #007bff;
    }
}

.ttl-cart {
    margin-top: 2rem;
    font-size: 2.4rem;
}

.cart-box {
    display: flex;
    gap: 3rem;
    margin-top: 2rem;

    @include mq('md') {
        margin-top: 1rem;
        flex-direction: column;
        gap: 1rem;
    }

    &__ttl {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 1rem;

        @include mq('md', min) {
            font-size: 1.7rem;
        }

    }

    &-left {
        @include mq('md', min) {
            margin-bottom: 2rem;
            width: 65%;
        }

        &.--flex {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            @include mq('md', min) {
                gap: 3rem;
            }

        }

        .cart-item {
            display: flex;
            gap: 1rem;
            position: relative;

            @include mq('md', min) {
                gap: 2rem;
            }

            &__img {
                width: 7rem;
                height: 7rem;
                overflow: hidden;
                border: 1px solid #eee;
                border-radius: 0.5rem;
                flex-shrink: 0;

                @include mq('md', min) {
                    width: 10rem;
                    height: 10rem;
                    border-radius: 1rem;
                }

            }

            &__meta {
                flex: 1;
                display: flex;
                flex-direction: column;

                &__head {
                    display: flex;
                    justify-content: space-between;
                    gap: 2rem;
                    align-items: baseline;
                }
            }

            &__ttl {

                font-weight: 500;
                margin-bottom: 1rem;
                display: block;
                font-size: 1.3rem;

                @include mq('md', min) {
                    font-size: 1.6rem;
                }
            }

            &__more {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: auto;
            }

            &__del {
                border: none;
                background: none;
                color: #999;
                cursor: pointer;

                &:hover {
                    color: #666;
                }
            }

            &__attribute {
                font-size: 1.5rem;
            }

            &__price {
                display: flex;
                gap: 1rem;
                align-items: baseline;

                .price-current {
                    font-weight: 700;
                    color: #dc2626;

                    @include mq('md', min) {
                        font-size: 1.8rem;
                    }
                }

                .price-old {
                    color: #999;
                    text-decoration: line-through;
                }
            }
        }
    }

    &-right {
        flex: 1;

        @include mq('md', min) {
            position: sticky;
            top: 3%;
            height: 19vw;
        }

        .cart-summary {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            border-bottom: 1px dashed #ccc;
            padding-bottom: 1.5rem;
            margin-bottom: 1rem;

            &__row {
                display: flex;
                justify-content: space-between;
            }

            &-total {
                font-weight: 700;
                font-size: 1.4rem;

                @include mq('md', min) {
                    font-size: 1.7rem;
                }
            }

            &-quality {
                font-size: 1.3rem;
                font-weight: 700;

                @include mq('md', min) {
                    font-size: 1.6rem;
                }
            }
        }

        .cart-pay {
            display: flex;
            justify-content: space-between;


            strong {
                font-size: 1.6rem;

                @include mq('md', min) {
                    font-size: 1.7rem;
                }
            }
        }

        .cart-save {
            text-align: right;
            margin-bottom: 2rem;
            font-size: 1.3rem;
            font-weight: 500;

            @include mq('md', min) {
                font-size: 1.5rem;
            }
        }

    }

    .cart-bd {
        border: 1px solid #e5e7eb;
        border-radius: 1rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @include mq('md', min) {
            border-radius: 2rem;
            padding: 1.5rem;
        }
    }

    .cart-btn {
        background: #ffc84a;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        padding: 1rem 0;
        gap: 1rem;
        border-radius: 4rem;
        font-size: 1.4rem;
        transition: all 0.3s;
        cursor: pointer;
        border: none;

        @include mq('md', min) {
            padding: 1.6rem 0;
            font-size: 1.7rem;
        }

        &:hover {
            background: #fab005;
        }
    }

    .cart-pay {
        &-ttl {
            font-size: 1.5rem;
            font-weight: 500;

            @include mq('md', min) {
                font-size: 1.7rem;

            }
        }

        .input-group {

            input {
                border: 1px solid #e5e7eb;
                border-radius: 4rem;
                width: 100%;
                height: 5rem;
                padding-left: 1rem;

                &::placeholder {
                    color: #666;
                }

                &:focus {
                    outline: none;
                    border: 1px solid #ffa8a8;
                }
            }

            textarea {
                width: 100%;
                min-height: 10rem;
                border-radius: 1rem;
                padding: 1rem;
                border: 1px solid #e5e7eb;
            }
        }

        .box-choosed {
            display: flex;
            align-items: center;
            gap: 2rem;

            &__rd {
                display: flex;
                align-items: center;
                gap: 1rem;
            }
        }

        .input-address {
            display: flex;
            gap: 1rem;


            @include mq('md') {
                flex-direction: column;
            }

            .select-address {
                width: 100%;
            }

            select {
                width: 100%;
                border: 1px solid #e5e7eb;
                border-radius: 4rem;
                height: 4rem;
                padding-left: 1rem;
                color: #666;

                @include mq('md', min) {
                    height: 5rem;
                }
            }
        }

        .payment-method {
            margin-top: 2rem;

            .payment-option {
                display: flex;
                align-items: center;
                gap: 1rem;
                margin: 1rem 0;
                cursor: pointer;

                input {
                    width: 1.6rem;
                    height: 1.6rem;
                    cursor: pointer;
                }
            }
        }


    }
}

.cart-empty {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;

}


// #cart-popup {
//     position: fixed;
//     top: 20px;
//     right: 20px;
//     background: white;
//     border-radius: 10px;
//     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
//     width: 320px;
//     padding: 15px;
//     display: none;
//     z-index: 9999;
//     animation: fadeInUp 0.4s ease;

//     .cart-popup-ttl {
//         font-size: 1.8rem;
//         margin-bottom: 1.5rem;
//         border-bottom: 1px solid #e5e7eb;
//         padding-bottom: 1.5rem;
//         font-weight: 500;
//         display: flex;
//         justify-content: space-between;

//         .ic-close {
//             cursor: pointer;
//         }
//     }




// }


.cart-message-success {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #28a74545;
    color: #28a745;
    border-left: 4px solid #28a745;
    padding: 12px 20px;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    z-index: 9999;
    display: none;
    font-weight: normal;
    animation: slideIn 0.3s ease;
}

.box-order-success {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;

    img {
        max-width: 35rem;
    }
}

/* ===== TOAST CART ===== */
.cart-toast {
    position: fixed;
    top: 2rem;
    right: 2rem;
    width: 32rem;
    padding: 1rem;
    border-radius: 1.2rem;
    background: rgba(255, 255, 255, 1);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.06);
    z-index: 9999;
    animation: toastIn 0.35s ease forwards;

    &-ttl {
        font-size: 1.6rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid #e5e7eb;
        padding-bottom: 1rem;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
    }

    &-item {
        display: flex;
        gap: 1.5rem;
        margin-bottom: 2rem;

        &__img {
            width: 10rem;
            height: 12rem;
            border-radius: 0.7rem;
            overflow: hidden;
        }

        &__info {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            &__ttl {
                font-size: 1.5rem;
            }

            &__price {
                display: flex;
                align-items: baseline;
                gap: 1rem;
                margin-top: auto;


                .price-current {
                    color: red;
                    font-weight: 600;
                }

                .price-old {
                    text-decoration: line-through;
                    color: #888;
                    font-size: 1.4rem;
                }
            }

            &__quality {
                font-size: 1.4rem;
                display: flex;
                gap: 1.5rem;
            }
        }



    }

    /* Nút đóng */
    &-close {
        position: absolute;
        top: 0.6rem;
        right: 0.8rem;
        border: none;
        background: transparent;
        font-size: 1.8rem;
        color: #999;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
            color: #111;
            transform: scale(1.2);
        }
    }

    .btn-view-cart {
        background: #007bff;
        border: none;
        color: white;
        padding: 1rem;
        border-radius: 3rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;

        &:hover {
            background: $primary;
        }
    }

}

/* Animation vào */
@keyframes toastIn {
    from {
        opacity: 0;
        transform: translateY(20px);
        /* bắt đầu từ dưới */
    }

    to {
        opacity: 1;
        transform: translateY(0);
        /* về vị trí ban đầu */
    }
}

/* Animation ra (optional) */
// @keyframes toastOut {
//     from {
//         opacity: 1;
//     }

//     to {
//         opacity: 0;
//         transform: translateX(60px);
//     }
// }

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;

    .popup {
        background: #fff;
        border-radius: 1.2rem;
        padding: 2rem;
        width: 45rem;
        text-align: center;
        position: relative;
        animation: popupShow 0.3s ease;

        &-head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #eee;
            padding-bottom: 1.5rem;

            &__ttl {
                font-size: 1.7rem;
            }
        }

        &-content {
            border-bottom: 1px solid #eee;
            padding: 2rem 0;

            .icon-trash {
                font-size: 2.5rem;
                color: #ff6b6b;
            }

            h3 {
                font-weight: 400;
                font-size: 1.6rem;
            }
        }

        .popup-actions {
            display: flex;
            gap: 1.2rem;
            justify-content: center;
            margin-top: 1.6rem;

            button {
                width: 100%;
                cursor: pointer;

                &:hover {
                    opacity: 0.7;
                }
            }

            .btn-cancel {
                padding: 1rem 1.5rem;
                background: #eee;
                border: none;
                border-radius: 0.5rem;
            }

            .btn-delete {
                padding: 1rem 1.5rem;
                background: #e53935;
                color: white;
                border: none;
                border-radius: 0.5rem;
            }
        }



        .popup-close {
            background: none;
            font-size: 2rem;
            cursor: pointer;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            border: 1px solid #d1d5db;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s;

            &:hover {
                background: $primary;
                color: #FFF;
            }
        }

        .popup-btn {
            margin-top: 1.6rem;
            background: #0d6efd;
            color: #fff;
            border: none;
            padding: 1rem 1.5rem;
            border-radius: 0.5rem;
            cursor: pointer;
        }
    }

}


@keyframes popupShow {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* Modal */

.quickview-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;

    .quickview-modal {
        background: #fff;
        padding: 1.5rem;
        max-width: 100rem;
        width: 90%;
        border-radius: 1rem;
        position: relative;

        .btn-close {
            position: absolute;
            right: 1rem;
            top: 1rem;
            background: none;
            border: 1px solid #999;
            border-radius: 50%;
            width: 3rem;
            height: 3rem;
            cursor: pointer;

            &:hover {
                background: #000;
                color: #FFF;
            }
        }

        &-wrap {
            display: flex;
            gap: 2rem;
        }

        &__img {
            width: 50%;
        }

        &__meta {
            flex: 1;
            padding: 3rem 0;

            .product-price {
                justify-content: flex-start;
            }
        }

    }
}